@import '../vars';
@import '../helpers/mixins';

a {
    text-decoration: none;
    color:  var(--green);
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    color:  var(--gris);
    line-height: 1.6em;
    font-size: 1rem;
}

span {
    font-size: 1rem;
}
p, span {
    font-weight: 400;
}
.link {
    &:hover,
    &:focus,
    &:active {
      color:  var(--red);
      filter: invert(23%) sepia(97%) saturate(3706%) hue-rotate(340deg) brightness(80%) contrast(108%);
    }
}

input {
    cursor: text;
    outline: none;
    padding-left: 10px;
}

button {
    cursor: pointer;
    outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0, 115, 56, 0.64);
    opacity: 1; /* Firefox */
    font-size: 1rem;
    font-weight: 400;
  }
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(0, 115, 56, 0.64);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(0, 115, 56, 0.64);
}

.error {
    color:  var(--red);
    font-size: 0.75rem;
}

.inputError {
    border-color:  var(--red);
}

.photo {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}
ul {
    list-style-type: none;
}
li {
    line-height: 2rem;
}
input[type=checkbox] {
    cursor: pointer;
}

.container {
    min-height: 100vh;
    padding: 2rem;
}

@include media(phone) {
    h3 {
        font-weight: 500;
    }
    
    p, span, h3, .error  {
        font-size: 90%;
    }

    p, span {
        font-weight: 400;
    }
    
    input {
        cursor: text;
        outline: none;
        padding-left: 10px;
    }
    
    
    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: rgba(0, 115, 56, 0.64);
        opacity: 1; /* Firefox */
        font-size: 1 rem;
        font-weight: 400;
      }
      
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: rgba(0, 115, 56, 0.64);
    }
      
    ::-ms-input-placeholder { /* Microsoft Edge */
        color: rgba(0, 115, 56, 0.64);
    }
    
    .inputError {
        border-color:  var(--red);
    }
    
    .photo {
        width: 20rem;
        height: 20rem;
    }
    li {
        line-height: 2rem;
    }
    
    .container {
        padding: 1rem;
    }
    
}